.card {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 120px;
	height: 200px;
	margin: 20px;
	cursor: pointer;
	background-color: black;
}
.card:hover {
	box-shadow: 2px 4px lightgreen;
}

.green {
	border: 1px solid green;
}
.green:hover {
	box-shadow: 2px 4px grey;
}

.red {
	border: 1px solid red;
}

img {
	width: 100px;
	height: 100px;
	pointer-events: none;
}
