.gameWrapper {
	display: flex;
	flex-direction: column;
	margin-top: 60px;
}

.main {
	display: grid;
	grid-template-columns: 300px 800px 300px;
	grid-template-areas: 'a b c';
	justify-content: center;
	width: 100%;
	margin-top: 20px;
}

.sideBar {
	grid-area: a;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 20px 0;
}

.left {
	grid-area: a;
}

.right {
	grid-area: c;
}
