.game-wrapper {
	/* display: flex;
	justify-content: space-between; */
	display: grid;
	grid-template-columns: 300px 800px 300px;
	grid-template-areas: 'a b c';
	justify-content: center;
	width: 100%;
	margin-top: 50px;
}