.header {
	position: fixed;
	display: flex;
	width: 100%;
	height: 60px;
	padding: 15px;
}

.switchGameVariant {
	width: 500px;
	display: flex;
	justify-content: space-between;
}

.switchGameVariant button {
	width: 100px;
	height: 35px;
	font-size: 14px;
	padding: 1px;
}
