.userNameDiv {
	display: flex;
	flex-direction: column;
}

.playerName {
	margin-bottom: 100px;
}
.playerName button {
	width: 40%;
	height: 30%;
	padding: 1px;
	font-size: 15px;
	color: brown;
}
.playerName .button:hover {
	box-shadow: 0 0 1px 1px aquamarine;
}
.playerName h3 {
	color: aqua;
}

.userNameForm {
	display: flex;
	flex-direction: column;
}

.userNameInput {
	margin-bottom: 10px;
	border-radius: 3px;
}

.userNameForm button {
	width: 100px;
	height: 40px;
	margin: 0 auto;
}
