.leaderboard {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	margin-top: 80px;
}

.leaderboard h2 {
	margin: 30px;
}

.leaderboardList {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 400px;
	height: 500px;
	overflow: auto;
	margin-bottom: 30px;
}

.leaderboardList li {
	list-style-position: inside;
}
