.game-wrapper {
	/* display: flex;
	justify-content: space-between; */
	display: grid;
	grid-template-columns: 300px 800px 300px;
	grid-template-areas: 'a b c';
	justify-content: center;
	width: 100%;
	margin-top: 50px;
}

.side-bar {
	grid-area: a;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 20px 0;
}

.left {
	grid-area: a;
}

.right {
	grid-area: c;
}

.timer {
	display: flex;
	justify-content: center;
	width: 100%;
	color: white;
}

.new-game {
	display: flex;
	justify-content: center;
	width: 100%;
}

.button {
	height: 50px;
	border-radius: 10px;
	color: black;
	padding: 5px;
	transition: 0.2s linear;
	background: #ffffe0;
	cursor: pointer;
}
.button:hover {
	box-shadow: 0 0 4px 4px lightgreen;
}

.game-field {
	grid-area: b;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 700px;
	width: 100%;
	margin: 0 auto;
}

.card {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 120px;
	height: 200px;
	margin: 20px;
	cursor: pointer;
	background-color: black;
}
.card:hover {
	box-shadow: 2px 4px lightgreen;
}

.green {
	border: 1px solid green;
}
.green:hover {
	box-shadow: 2px 4px grey;
}

.red {
	border: 1px solid red;
}

img {
	width: 110px;
	height: 110px;
		pointer-events: none;
}

.win-time {
	color: green;
}

.best-times {
	color: white;
	margin: auto 0;
}

ol {
	width: 100px;
}
